SpeechRecognition
anthropic
comtypes
ddgs
edge-tts
fsrs
google-genai
indic-transliteration
keyboard
markdown
mediapipe
opencv-python
openwakeword
pillow
playwright
psutil
pyaudio
pyautogui
pycaw
pygame
pyperclip
screen-brightness-control
uiautomation
youtube-transcript-api
